<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>5HYFILM's Friendship - pp_seen2825</title>
        <link rel="icon" type="image/png" sizes="72x72" href="/static/images/logo.png">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <img src="static/images/logo.png" class="logo">
                    <nav>
                        <ul id="menuList">
                            <li><a href="/home">HOME</a></li>
                            <li><a href="/signin">pp_seen2825</a></li>
                            <li><a href="/contactme">CONTACT ME</a></li>
                        </ul>
                    </nav>
                <img src="static/images/menu.png" class="menu-icon" onclick="togglemenu()">
            </div>
            <div class="row">
                <div class="col-1">
                    <h2>YaHallo แป้ง</h2>
                    <p>จำไม่ได้ว่าคุยกันครั้งแรกตอนไหน รู้จักกันได้ยังไง รู้ตัวอีกทีคือสนิทชิบหาย (ไม่รู้ว่าคิดเองคนเดียวหรือป่าว) มึงแม่งคนดีชิบหาย ตอบแชทกูตลอด ให้กูระบายบ่นได้ตลอด นานทีๆ จะเจอคนแบบนี้ ปลื้มใจจริงๆ แต่รู้สึกเสียดายน่าจะมาเรียนจุฬาด้วยกัน เอาเป็นว่ามึงเอาให้ได้ JSTP ระยะยาวละกัน กูรออยู่ จะได้เจอกันยาวๆ</p>
                    <p>สุดท้ายนี้ขอบอกว่าขอโทษที่เป็นคนเหี้ย แต่ไม่ต้องให้อภัยหรอก ถ้าไม่ชอบหน้าก็ลืมๆ ไปเลย</p>
                </div>
                <div class="col-2">
                    <img src="static/images/friendship/film_pang.png" class="image">
                    <!-- <div class="color-box"></div> -->
                    <!-- <div class="add-btn">
                        <img src="images/add.png">
                        <p><small>Go</small></p>
                    </div> -->
                </div>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/waranthornchansawang"><img src="static/images/fb.png"></a>
                <a href="https://twitter.com/5hyfilm"><img href="https://twitter.com/5hyfilm" src="static/images/tw.png"></a>
                <a href="https://www.instagram.com/5hyfilm/"><img href="https://www.instagram.com/5hyfilm/" src="static/images/ig.png"></a>
            </div>
        </div>
        <script src="static/app.js"></script>
    </body>
</html>
