<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>5HYFILM's Friendship - wawawawhannnn</title>
        <link rel="icon" type="image/png" sizes="72x72" href="/static/images/logo.png">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <img src="static/images/logo.png" class="logo">
                    <nav>
                        <ul id="menuList">
                            <li><a href="/home">HOME</a></li>
                            <li><a href="/signin">wawawawhannnn</a></li>
                            <li><a href="/contactme">CONTACT ME</a></li>
                        </ul>
                    </nav>
                <img src="static/images/menu.png" class="menu-icon" onclick="togglemenu()">
            </div>
            <div class="row">
                <div class="col-1">
                    <h2>YaHallo หวาน</h2>
                    <p>พระแม่หวาน ผู้หญิงที่ชั้นรู้สึกว่าคุยด้วยแล้วรู้เรื่องที่สุดแล้ว คุยได้ทุกเรื่องจริงๆ นานๆ ทีจะได้เจอผู้หญิงพูดจารู้เรื่องแบบนี้ ชอบอะไรคล้ายๆ กันดี เลยคุยด้วยมั้ง คือถ้าไม่คุณผมคงแย่เลยมั้ง โดยเฉพาะแปลภาษาอังกฤษ เพราะตัวเองโง่มาก เดี๋ยวจะไปหาเรียนเพิ่มละ ขอบคุณที่เคยมาร่วมงานกันตอนไป YIC ถึงงานมันจะกระโปกก็เหอะ:) </p>
                    <p>สุดท้ายนี้ขอบอกว่าขอโทษที่เป็นคนเหี้ย แต่ไม่ต้องให้อภัยหรอก ถ้าไม่ชอบหน้าก็ลืมๆ ไปเลย</p>
                </div>
                <div class="col-2">
                    <img src="static/images/friendship/film_earn.png" class="image">
                    <!-- <div class="color-box"></div> -->
                    <!-- <div class="add-btn">
                        <img src="images/add.png">
                        <p><small>Go</small></p>
                    </div> -->
                </div>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/waranthornchansawang"><img src="static/images/fb.png"></a>
                <a href="https://twitter.com/5hyfilm"><img href="https://twitter.com/5hyfilm" src="static/images/tw.png"></a>
                <a href="https://www.instagram.com/5hyfilm/"><img href="https://www.instagram.com/5hyfilm/" src="static/images/ig.png"></a>
            </div>
        </div>
        <script src="static/app.js"></script>
    </body>
</html>
