<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>5HYFILM's Friendship - whyapar</title>
        <link rel="icon" type="image/png" sizes="72x72" href="/static/images/logo.png">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <img src="static/images/logo.png" class="logo">
                    <nav>
                        <ul id="menuList">
                            <li><a href="/home">HOME</a></li>
                            <li><a href="/signin">whyapar</a></li>
                            <li><a href="/contactme">CONTACT ME</a></li>
                        </ul>
                    </nav>
                <img src="static/images/menu.png" class="menu-icon" onclick="togglemenu()">
            </div>
            <div class="row">
                <div class="col-1">
                    <h2>YaHallo เอิร์น</h2>
                    <p>เห็นครั้งแรกตอนปฐมนิเทศอยู่กลุ่มเดียวกัน ตอนนั้นรู้สึกว่าคนนี้น่ารักดี555 แต่ไม่ได้คิดอะไร ตอนนั้นคุณดูเก่งดี แข่งเขียนโปรแกรมภาษา C ได้รางวัลด้วย โคตรเทพอ่ะ รู้เลยคนนี้สายคอมแน่ๆ ก็เลยคิดว่าสงสัยคนนี้จะเป็นศัตรูกันแน่ๆ แล้วพอคุณเข้ารอบ YMC ผมละโมโหลเลย คิดว่าทำไมคนนี้เข้ารอบฟะ!? แต่นั่นแหละพอไปงาน TJ-SIF 2020 ก็เลยได้คุยกันจริงจัง ก็รู้สึกว่าสนิทอยู่นะ(หรือเราคิดไปเองแค่ฝ่ายเดียว) คุยกันหนักๆ อีกทีก็คงช่วงยื่นพอร์ต เอาจริงตอนแรกแอบเครียดว่าผมได้แล้วสละสิทธิ์จะไปกั๊กที่คุณ ตอนแรกเลยจะไม่สมัคร แต่ดีที่ติดทั้งคู่ มีอะไรคุณก็ช่วยผมตลอด โคตรคนดีเลย นั่นแหละจบละ</p>
                    <p>สุดท้ายนี้ขอบอกว่าขอโทษที่เป็นคนเหี้ย แต่ไม่ต้องให้อภัยหรอก ถ้าไม่ชอบหน้าก็ลืมๆ ไปเลย</p>
                </div>
                <div class="col-2">
                    <img src="static/images/friendship/film_earn.png" class="image">
                    <!-- <div class="color-box"></div> -->
                    <!-- <div class="add-btn">
                        <img src="images/add.png">
                        <p><small>Go</small></p>
                    </div> -->
                </div>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/waranthornchansawang"><img src="static/images/fb.png"></a>
                <a href="https://twitter.com/5hyfilm"><img href="https://twitter.com/5hyfilm" src="static/images/tw.png"></a>
                <a href="https://www.instagram.com/5hyfilm/"><img href="https://www.instagram.com/5hyfilm/" src="static/images/ig.png"></a>
            </div>
        </div>
        <script src="static/app.js"></script>
    </body>
</html>
