<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>5HYFILM's Friendship - Contact Me</title>
        <link rel="icon" type="image/png" sizes="72x72" href="/static/images/logo.png">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <img src="static/images/logo.png" class="logo">
                    <nav>
                        <ul id="menuList">
                            <li><a href="/home">HOME</a></li>
                            <li><a href="/signin">SIGN IN</a></li>
                            <li><a href="/contactme">CONTACT ME</a></li>
                        </ul>
                    </nav>
                <img src="static/images/menu.png" class="menu-icon" onclick="togglemenu()">
            </div>
            <div class="row">
                <div class="col-1">
                    <h2>5HYFILM's contact</h2>
                    <h3>มีปัญหาเกี่ยวกับคอมพิวเตอร์โปรดติดต่อ</h3>
                    <p>Facebook: Waranthorn Chansawang</p>
                    <p>Instagram: 5hyfilm</p>
                    <p>E-mail: waranthorn_c@outlook.com</p>
                    <p>Website: 5hyfilm.github.io</p>
                    <!-- <button type="button">Buy Now<img src="static/images/arrow.png"></button> -->
                </div>
                <div class="col-2">
                    <img src="static/images/film.jpg" class="image">
                    <!-- <div class="color-box"></div> -->
                    <!-- <div class="add-btn">
                        <img src="images/add.png">
                        <p><small>Go</small></p>
                    </div> -->
                </div>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/waranthornchansawang"><img src="static/images/fb.png"></a>
                <a href="https://twitter.com/5hyfilm"><img href="https://twitter.com/5hyfilm" src="static/images/tw.png"></a>
                <a href="https://www.instagram.com/5hyfilm/"><img href="https://www.instagram.com/5hyfilm/" src="static/images/ig.png"></a>
            </div>
        </div>
        <script src="static/app.js"></script>
    </body>
</html>
